.attribution {
	color: #fff;
	font-size: 11px;
	text-align: center;
	margin: 20px auto;
}

.attribution a {
	color: hsl(240, 5%, 91%);
	text-decoration: none;
}

.attribution a:hover {
	color: hsl(14, 88%, 65%);
}
