//Primary Text colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// Background gradient:
$soft-violet: rgb(175, 103, 233);
$soft-blue: hsl(240, 73%, 65%);

//Neutral Text colors
$very-dark-gray-blue: hsl(237, 12%, 33%);
$dark-gray-blue: hsl(240, 6%, 50%);

//Dividers
$light-gray-blue: hsl(240, 5%, 91%);

//Background
$white: hsl(0, 0%, 100%);
