.illustration {
	width: 100%;
	position: relative;
	background-image: url(../images/bg-pattern-desktop.svg);
	background-position: -600px -280px;
	background-repeat: no-repeat;

	&__box {
		position: absolute;
		z-index: 999;
		top: 20%;
		left: -95px;
	}

	&__woman-desktop {
		position: absolute;
		top: 8%;
		left: -77px;
		clip-path: inset(0px 0px 0px 77px);
	}

	&__woman-mobile {
		display: none;
	}
}
